
.searchResult {
  // border: 1px solid #d6dde3;
  background-color: #F7FAFB;
  border-radius: 0.25rem;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  // display: none;
  background: #fff;
}